h1 {
  font-family: Ubuntu;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 2em;
}

#footer {
  text-align: center;
  background-position: bottom;
}

#footer a {
  color: white;
}

#footer div {
  font-size: 14px;
  line-height: 2;
}

#power {
  display: flex;
  justify-content: center;
  align-items: center;
}

#power > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin-top: 32px;
}
