.ant-cascader-picker {
  width: 215px;
}

#selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

#selector button {
  z-index: 100;
}

.name {
  font-weight: bold;
}

.location,
.teacher {
  font-size: smaller;
}

.ant-table-cell {
  text-align: center !important;
}

tr.ant-table-row.ant-table-row-level-0 {
  height: 70px !important;
}
